body{
    background: black;
}
.header a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 13px;
    padding-top: 30px;
    margin: 8px;
    text-align: center;
}
.header img{
  width: 70px;
  height:20;
}
.container{
    background-image: url(https://www.bodo.ua/resize/upload/files/cm-experience/104/103868/images_file/all_all_big-t1591950914-r1w768h425q90zc1.jpg);
    height: 817px;
    background-size: cover;
}
.banner{
    color: white;
    font-size: 20px;
    padding: 250px;
    width: 465px;
}
.banner p{
    opacity: 0.7;
}
.header{
 display: flex; 
 justify-content: space-between;
 align-items: center;
}
button{
  padding: 16px 37px;
  background:  #F6762C;
  ;
  color: white;
  border: none;
  border-radius: 5px;
}
.card p{
  color:grey;
  
}
.burgers{
 display: flex
 ;
 justify-content: center;
 
}
.card{
  background: #312F30;
border-radius: 10px;
width: 263px;
margin: 10px;
}