body{
    background: black;
}
.header a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 13px;
    padding-top: 30px;
    margin: 8px;
    text-align: center;
}
.header img{
  width: 70px;
  height:20;
}
.header{
 display: flex; 
 justify-content: space-between;
 align-items: center;
}
button{
  padding: 16px 37px;
  background:  #F6762C;
  ;
  color: white;
  border: none;
  border-radius: 5px;
}
.card p{
  color:grey;
  
}
.burgers{
 display: flex
 ;
 justify-content: center;
 
}
.card{
  background: #312F30;
border-radius: 10px;
width: 263px;
margin: 10px;
}